{{> page-elements/page-title
    title="CSS Playground"}}

<div id="main-menu" class="section">

  {{> page-elements/section-title
      title="Menu"}}

  <div class="section-content">

    <div class="menu">
      {{> page-elements/navigation}}
    <div>
<!--
            <ul>
              <li>
                <p>Page Elements</p>
                <ul>
                  <li>Headings</li>
                  <li>Menus</li>
                  <li>Navigation</li>
                  <li>Footers</li>
                </ul>
              </li>
              <li>
                <p>Forms</p>
                <ul>
                  <li>Text Input</li>
                  <li>Check Boxes</li>
                  <li>Radio Buttons</li>
                  <li>Buttons</li>
                </ul>
              </li>
              <li>
                <p>Tables</p>
              </li>
            </div>
-->

  </div>

</div>
